<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaochufa.apijava.recsys.mapper.RatingsMapper" >
  <resultMap id="BaseResultMap" type="com.yaochufa.apijava.recsys.model.Ratings" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="rating" property="rating" jdbcType="REAL" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, product_id, rating, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yaochufa.apijava.recsys.model.RatingsKey" >
    select 
    <include refid="Base_Column_List" />
    from ratings
    where user_id = #{userId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yaochufa.apijava.recsys.model.RatingsKey" >
    delete from ratings
    where user_id = #{userId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yaochufa.apijava.recsys.model.Ratings" >
    insert into ratings (user_id, product_id, rating, 
      created_at, updated_at)
    values (#{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{rating,jdbcType=REAL}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yaochufa.apijava.recsys.model.Ratings" >
    insert into ratings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=REAL},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yaochufa.apijava.recsys.model.Ratings" >
    update ratings
    <set >
      <if test="rating != null" >
        rating = #{rating,jdbcType=REAL},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yaochufa.apijava.recsys.model.Ratings" >
    update ratings
    set rating = #{rating,jdbcType=REAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
      and product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>