<?xml version="1.0" encoding="UTF-8"?>
<!-- Application context definition for PetClinic on JPA. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/cache
         http://www.springframework.org/schema/cache/spring-cache.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">


<!-- schedual  st -->
     <!-- 线程执行器配置，用于任务注册 -->
	
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="10" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
	</bean>
	<!-- 调度业务 -->
	<bean id="collabFilterTaskJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="collabFilterTask" />
		<property name="targetMethod" value="run" />
	</bean>
	<!-- 调度触发器 -->
	<bean id="collabFilterTaskCronTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="collabFilterTaskJobDetail" />
		<property name="cronExpression" value="0 56 14 * * ?" /><!-- 每天上午5点40 
			0 40 5 * * ? -->
	</bean>
	<!-- 设置调度 -->
	
	
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">

			<list>
			 <ref bean="collabFilterTaskCronTrigger" /> 
			</list>
		</property>
	</bean>
     <!-- schedual  ed -->
</beans>
